<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @attribute.place %>
</p>

<p>
  <strong>User:</strong>
  <%= @attribute.user %>
</p>

<p>
  <strong>Option:</strong>
  <%= @attribute.option %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attribute.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @attribute.active %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
