<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= label :ajax, :country_id %><br>
    <%= select("ajax", "country_id", Country.all.collect {|a| [a.name, a.id]}, {:prompt => "Selecciona tu pais"}, { class: 'form-control combo_change', :data => { :fuente => "/cities_country.json", :destino => 'user_city_id', :grupo => 'city_id_group' } }) %>
  </div>
  <div class="form-group" id="city_id_group" style="display:none;">
    <%= f.label :city_id %><br>
    <%= f.select(:city_id, City.all.collect {|a| [a.name, a.id]}, {}, { class: 'form-control', disabled: true }) %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :rol %><br>
    <%= f.text_field :rol, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Enviar', class: "btn btn-primary" %>
  </div>
<% end %>