<div class="container">

<%= link_to 'Agregar', new_option_path, class: "btn btn-success pull-right" %>
<h1>Listing Options</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.name %></td>
        <td><%= link_to 'Show', option %></td>
        <td>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_option_path(option), class: "btn btn-xs btn-warning" %>
          <%= link_to '<i class="fa fa-remove"></i>'.html_safe, option, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>