<div class="container">

<%= link_to 'Agregar', new_city_path, class: "pull-right btn btn-primary" %>

<h1>Listing Cities</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>País</th>
      <th>Nombre</th>
      <th width="120"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.country.name, cities_country_path(city.country.id)  %></td>
        <td><%= city.name %></td>
        <td>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_city_path(city), class: "btn btn-xs btn-warning" %>
          <%= link_to '<i class="fa fa-remove"></i>'.html_safe, city, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @cities %>

</div>
