<div class="container">

  <%= link_to 'Agregar', new_place_path, class: "pull-right btn btn-primary" %>
  <h1>Listing Places</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>City</th>
        <th>Name</th>
        <th>Slug</th>
        <th>Content</th>
        <th>Active</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.user.name %></td>
          <td><%= place.city.name %></td>
          <td><%= place.name %></td>
          <td><%= place.slug %></td>
          <td><%= place.content %></td>
          <td><%= place.active %></td>
          <td><%= link_to 'Show', place %></td>
          <td>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_place_path(place), class: "btn btn-xs btn-warning" %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe, place, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>