<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @place.user %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @place.slug %>
</p>

<p>
  <strong>Content:</strong>
  <%= @place.content %>
</p>

<p>
  <strong>Active:</strong>
  <%= @place.active %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
