<!DOCTYPE html>
<html>
<head>
  <title>Hicking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render "partials/menu" %>
</header>  
<% if alert.present? %>
<div class="container">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Alerta!</strong> <%= alert %>
  </div>
</div>
<% end %>
<% if notice.present? %>
<div class="container">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Atención!</strong> <%= notice %>
  </div>
</div>
<% end %>

<%= yield %>
  
<footer>
<div class="container"> 
<h1>Hey hey</h1> 
  <%= debug current_user %>
</div>


</body>
</html>
